body{
    text-align: center;
}
li{
    display: inline;
    margin: 10px;
}
header{
    padding: 20px;
}
header{
    background-color: rgb(238, 146, 9);
}
#Portfolio{
    background-color: rgb(233, 237, 16);
    padding: 10px;
}
footer{
    background-color: red;
    padding: 10px;
}
img{
    border-radius: 50%;
}